
.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: 700ms;
}

.message-leave {
  opacity: 1;
}

.message-leave.message-leave-active {
  opacity: 0.01;
  transition: 700ms;
}


.chatroom-leave {
  width: 100vw;
  height: 100vh;  
}

.chatroom-leave.chatroom-leave-active {
  width: 0px;
  height: 0px;  
  transition: 700ms;
}
