html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
.message-enter {
  opacity: 0.01; }

.message-enter.message-enter-active {
  opacity: 1;
  transition: 700ms; }

.message-leave {
  opacity: 1; }

.message-leave.message-leave-active {
  opacity: 0.01;
  transition: 700ms; }
@charset "UTF-8";
body {
  overflow-y: hidden;
  font-family: "\5FAE\8EDF\6B63\9ED1\9AD4"; }

.float--left {
  float: left; }

.float--right {
  float: right; }

input {
  padding: 10px 10px 10px 10px;
  background: #ccc;
  border: 0 none;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
